/* Navbar */
.navbar {
  background-color: var(--dark-bg) !important;
  padding: 12px 0;
  transition: background-color 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand img {
  height: 40px;
}

.theme-toggle {
  cursor: pointer;
  font-size: 1.2rem;
}

.theme-toggle i {
  color: var(--gray-text);
  transition: color 0.3s ease;
}

.theme-toggle:hover i {
  color: white;
}