/* CSS Variables */
:root {
  --primary-color: #e50914;
  --secondary-color: #b81d24;
  --dark-bg: #141414;
  --dark-card: #181818;
  --light-text: #e5e5e5;
  --gray-text: #b3b3b3;
  --light-bg: #f5f5f1;
  --success-color: #46d369;
  --hover-color: #333333;
}